
.body__container{
  justify-self: center;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;

  
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__message-cotainer{
    display: flex;
    margin-top: 100px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   
    width: 70%;
    background-color: rgba(255, 255, 255, 0.842);
    
    border-radius: 10px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    font-family: 'roboto';

}
.message__heart-cont{
    position: absolute;
    top:-73px;
    width: 100%;
    text-align: center;
}
.message__heart{
    font-size: 110px;
    color: red;
    display: inline-block;
}
.message__headline{
    margin-top: 10%;
}
.message__body-text{
    margin-left: 10px;
    margin-right: 10px;
}

/*small box for small screen*/
@media(max-height:639px){
  
}

@media(min-width:767px){
    .body__message-cotainer{
        font-size: 1.7em;
        height: 400px;
    }   
}


@media(min-width:1600px){
    .body__message-cotainer{
        font-size: 2em;
        width: 800px;
        height: 450px;
    }   
}