.spinner__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    z-index: 10000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 0;
    margin: 0;


    

}

.spinner{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background: linear-gradient(0deg, rgba(237,237,237,0.8295693277310925) 12%, rgba(255,255,255,0.969625350140056) 100%);
    
    border-radius: 10px;
    border: thin rgb(255, 255, 255) solid;

    font-family: 'roboto';
    font-size: 8px;
    box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.64);


}

.circle{
    font-size: 35px;
   
    animation: spin 1.2s linear infinite;
    color: rgb(139, 139, 139);
}


@keyframes spin {
    0%{
        transform: rotate(0);
    }
  
    100%{
        transform: rotate(360deg);
    }
}