
html, body, #root, .App {
   
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

  
  }
body{
    background-color: rgb(245, 229, 176);
    
}

a{
  color: inherit;
  text-decoration: inherit;
}





